In [5]:
import sys
sys.path.append('..')
import os
os.chdir('..')
import linearmodels
from models.models import Segment

In [6]:
# Segment level analysis
seg = Segment()

#what does this look like
seg
print(seg)

#need help interpreting columns
seg.describe("")


#lets look at model 1
model = seg.model_1()

#what are we doing with this model
print(model)

#this is the data we are using 
df = model.model_data

flight route and cost by segement of trip
preparing data

/Users/austinpeel/.pyenv/versions/3.6.6/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3296: DtypeWarning: Columns (7,8,15,16,24,25,26,27,71,72,74,75,79,85,130) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

This model looks at the ratio of YCA fare to XCA fare and the effect on price

In [7]:
df.head()

,21 Days,DG_x,DashCA_x,Other_x,YCA_x,Year,airline_carrier_name,awarded,base_fare,cabin_svc_class_of_segment,...,daily_demand,dash_per_mile,YCA_per_mile,cost_per_mile,city_pair_ratio,market_share_log,booking_advanced_days,Organization,Purpose,GRADE_CODE
14,0,0,1,0,0,2018.0,Southwest Airlines,1,90.23,ECONOMY,...,1,0.1633,0.250842,0.187205,0.651007,-0.585549,5,GSA-4PEE,MISSION (OPERATIONAL),NaN
15,0,0,1,0,0,2018.0,Southwest Airlines,1,90.23,ECONOMY,...,1,0.1633,0.250842,0.187205,0.651007,-0.585549,5,GSA-4PEE,MISSION (OPERATIONAL),NaN
18,0,1,0,0,0,2018.0,Delta Air Lines,1,90.23,ECONOMY,...,3,0.1633,0.250842,0.187205,0.651007,-0.585549,1,GSA-4PPB,MISSION (OPERATIONAL),NaN
19,0,1,0,0,0,2018.0,Delta Air Lines,1,90.23,ECONOMY,...,3,0.1633,0.250842,0.187205,0.651007,-0.585549,1,GSA-4PPB,MISSION (OPERATIONAL),NaN
28,0,1,0,0,0,2018.0,Delta Air Lines,1,90.23,ECONOMY,...,4,0.1633,0.250842,0.187205,0.651007,-0.585549,6,GSA-4PME,MISSION (OPERATIONAL),NaN